body {
  background: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('/static/images/bg.webp'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
.card {
  background-color: rgba(255, 255, 255, 0.15); 
  border-radius: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
}

button {
  border-radius: 10px;
}
